*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"ArialRounded", sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #A7CF5D;
    padding-left: 2rem;
    padding-right: 10vw;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    box-shadow: 0px 1px 2px 2px rgba(150, 150, 150, 0.8);
}

.navbar-logo{
    max-width: 50px;
}

.section-list{
    display: flex;
    justify-content: space-around;
    gap: 4vw
}

.start{
    position: relative;
    text-align: center;
    margin-top: 0.5rem;
}

.hero-image{
    width: 100vw;
    max-height: 500px;
    filter: brightness(0.7);
    border-top: 2px solid #483D3C;
    border-bottom: 2px solid #483D3C;
}

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
}

.hero-logo{
    padding-right: 0.5rem;
    max-width: 100px;
    border-right: 4px solid #483D3C;
}

.hero-text{
    margin-left: 0.5rem;
    color: white;
    font-size: calc(16px + 1vw);
}

.leistungen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hook{
    text-align: center;
    color: green;
}

.intro{
    margin-top: 4rem;
    text-align: center;
    font-size: 20px;
}

.discription{
    text-align: center;
    margin-top: 1rem;
    font-size: 18px;
}

.call-to-action{
    margin-top: 0.5rem;
    font-size: 20px;
}