*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"ArialRounded", sans-serif;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #A7CF5D;
    padding-left: 2vw;
    padding-right: 2vw;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    box-shadow: 0px 1px 2px 2px rgba(150, 150, 150, 0.8);
}

.section-list{
    display: flex;
    justify-content: space-around;
    gap: 4vw
}

.start{
    position: relative;
    text-align: center;
    margin-top: 0.5rem;
}

.hero-image{
    width: 100vw;
    max-height: 500px;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    color: rgb(0, 40, 0);
    font-size: 2vw;
}