*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"ArialRounded", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #A7CF5D;
    padding-left: 2rem;
    padding-right: 10vw;
    box-shadow: 0px 1px 2px 2px rgba(150, 150, 150, 0.8);
}

.navbar-logo{
   max-width: 3rem;
}

.section-list{
    list-style-type: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

.sections{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 24px;
    transition: background-color 0.3s;
    transition: color 0.1s;
    cursor: pointer;
    font-size: 18px;
}

.sections:hover{
    background-color: #8cad4f;
}

.sections:active{
    color: rgb(58, 58, 58);
}

.start{
    position: relative;
}

.hero-image{
    width: 100vw;
    max-height: 500px;
    filter: brightness(0.7);
    border-bottom: 2px solid #483D3C;
}

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-logo{
    padding-right: 0.5rem;
    max-width: 15vw;
    border-right: 4px solid gray;
}

.hero-text{
    margin-left: 0.5rem;
    color: white;
    font-size: calc(16px + 1vw);
}

.leistungen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hook{
    text-align: center;
    color: green;
}

.intro{
    margin-top: 4rem;
    text-align: center;
    font-size: 20px;
}

.discription{
    text-align: center;
    margin-top: 1rem;
    font-size: 18px;
}

.call-to-action{
    margin-top: 0.5rem;
    font-size: 20px;
}

.pictures{
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    overflow: hidden;
}

.pics{
    max-width: 20vw;
    object-fit: contain;
    border: 2px solid #A7CF5D;
    object-fit: cover;
}

.werte{
    margin-top: 5rem;
    text-align: center;
}

.werte-liste{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.werte-items{
    margin-top: 0.5rem;
    font-size: 24px;
    color: green;
}

.about-container{
    display: flex;
    justify-content: center;
}

.ueber-mich{
    margin-top: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.about{
    max-width: 40vw;
}

.profession{
    color: rgb(88, 88, 88);
    font-weight: 600;
}

.bio{
    margin-top: 0.5rem;
    font-size: 20px;
}

.addresse{
    margin-top: 3rem;
}

.profile-picture{
    max-width: 20vw;
}