*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"ArialRounded", sans-serif;
    scroll-behavior: smooth;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 0px 20px 0px 20px;
    background-color: #A7CF5D;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.navbar-logo{
    margin-left: 10px;
    max-width: 70px;
    transition: 0.3s ease;
    padding: 5px;
}

.navbar-logo:hover{
    cursor: pointer;
}

.navbar-logo:active{
    transform: scale(0.95);
}

.sections{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-right: 20px;
    align-items: center;
    font-size: 20px;
}

.section{
    text-decoration: none;
    color: black;
    padding: 24px;
    transition: 0.3s ease;
}

.section:hover{
    background-color: #96b954;
}

.section-point:active{
    transform: scale(0.95);
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.hero{
    background-image: url(images/baumKroneHintergrund.jpg);
    padding: 190px 0px 100px 0px;
    border-bottom: 2px solid #483D3C;
}

.hero-logo{
    border-right: 4px solid #483D3C;
    max-height: 300px;
    padding: 5px;
}

.hook{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.hook-text{
    text-align: center;
    color: green;
    max-width: 1200px;
}

.leistungen{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.leistungen-title{
    font-size: 34px;
    color: #483D3C;
}

.leistungen-cards{
    display: flex;
    gap: 30px;
}

.leistung-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px 5px 5px 5px;
    gap: 10px;
    border: 2px solid #A7CF5D;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: 0.3s ease;
}

.leistung-card:hover{
    cursor: pointer;
    transform: scale(1.03);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.leistung-card:active{
    transform: scale(0.98);
}

.leistung-card-title{
    font-size: 18px;
    font-weight: bold;
}

.leistung-image{
    max-width: 281px;
    max-height: 499px;
    border-radius: 5px;
}

.leistungen-text{
    max-width: 800px;
    text-align: center;
    font-size: 20px;
}

.ueber-uns{
    padding: 0 0 0 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.ueber-uns-title{
    font-size: 34px;
    color: #483D3C;
}

.subtitle{
    margin-top: 75px;
    font-size: 26px;
    font-weight: bold;
}

.subcontainer{
    margin-top: 20px;
    display: flex;
    max-width: 1200px;
    align-items: center;
}

.subimage{
    max-width: 600px;
    max-height: 337px;
    margin-right: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.subtext{
    font-size: 20px;
    text-align: justify;
}

.subsubcontainer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 20px;
}

.qualifikationen-text{
    text-align: justify;
}

.qualifikationen-list{
    padding-left: 20px;
    padding-right: 10px;
    font-style: italic;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subimage-end{
    margin-top: 20px;
    max-width: 400px;
    max-height: 711px;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.subcontainer-end{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 450px;
}

.subtext-end{
    margin-top: 10px;
    font-size: 20px;
    font-style: italic;
    text-align: center;
}

.inhaber-text{
    text-align: justify;
}

.im-detail{
    padding: 0 20px 0 20px;
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.im-detail-title{
    font-size: 34px;
    color: #483D3C;
}

.detail-card-container{
    display: flex;
    gap: 30px;
}

.detail-card-container a{
    text-decoration: none;
    color: black;
}

.detail-card{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border: 2px solid #A7CF5D;
    border-radius: 5px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    padding: 20px;
    transition: 0.3s ease;
    height: 100%;
}

.detail-card:hover{
    cursor: pointer;
    box-shadow: 0 0 20px #A7CF5D, 0 0 40px #A7CF5D, 0 0 60px #A7CF5D;
}

.detail-card:active{
    transform: scale(0.98);
}

.detail-card-title{
    font-size: 28px;
    color: green;
    margin-bottom: 10px;
}

.detail-sub-card{
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.detail-card-list{
    padding-left: 20px;
}

.detail-card-points{
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
}

.kontakt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
}

.angebot{
    color: #483D3C;
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 2px rgba(150, 150, 150, 0.8);
    padding: 10px;
    width: 500px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

button, input {
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 3px;
}

textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
    font-size: 18px;
    min-height: 300px;
    max-height: 500px;
}

#submit{
    margin-top: 30px;
    max-width: 120px;
    cursor: pointer;
    background-color: #483D3C;
    border: none;
    color: white;
}

#submit:active{
    transform: scale(0.98);
}

footer {
    margin-top: 50px;
    display: flex;
    gap: 40px;
    flex-direction: row;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #A7CF5D;
    color: #483D3C;
}

footer a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}

@media (max-width: 1200px) {
    .navbar{
        padding: 25px 5px 15px 5px;
    }

    .navbar-logo{
        max-width: 60px;
        margin-left: 0px;
    }

    .sections{
        gap: 10px;
        font-size: 16px;
        margin-left: 25px;
    }

    .section{
        padding: 10px;
    }

    .section-point{
        margin-bottom: 10px;
    }

    .hero-logo{
        max-height: 150px;
    }

    .title{
        font-size: 20px;
    }

    .hook-text{
        font-size: 20px;
        max-width: 800px;
    }

    .leistungen{
        margin-top: 75px;
    }

    .leistungen-cards{
        flex-direction: column;
        align-items: center;
    }

    .leistung-card-title{
        font-size: 16px;
    }

    .leistung-image{
        max-width: 300px;
        max-height: 533px;
    }

    .leistungen-text{
        font-size: 18px;
        max-width: 400px;
        padding: 0 10px 0 10px;
    }

    .ueber-uns{
        margin-top: 75px;
        padding: 0 10px 0 10px;
    }

    .subtitle{
        margin-top: 50px;
        font-size: 20px;
    }

    .subcontainer{
        flex-direction: column;
        gap: 10px;
    }

    .subimage{
        max-width: 300px;
        max-height: 168px;
    }

    .subtext{
        font-size: 18px;
        text-align: justify;
        max-width: 600px;
    }

    .subsubcontainer{
        font-size: 18px;
        max-width: 600px;
        text-align: justify;
    }
    
    .subimage-end{
        max-width: 300px;
        max-height: 533px;
    }

    .subtext-end{
        font-size: 18px;
    }

    .im-detail{
        margin-top: 75px;
    }

    .detail-card-container{
        flex-direction: column;
        align-items: center;
        margin-top: 65px;
  
    }

    .detail-card{
        width: 300px;
        margin-top: 0;
        align-items: flex-start;
    }

    .detail-sub-card{
        flex-direction: column;
    }

    .detail-card-title{
        font-size: 22px;
    }

    .detail-card-points{
        font-size: 16px;
    }

    form {
        max-width: 300px;
    }
}

.datenschutz-container {
    max-width: 800px;
    margin: 100px auto; 
    padding: 20px;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
}

.datenschutz-container h1 {
    font-size: 2em;
    color: #222;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
}

.datenschutz-container h2 {
    font-size: 1.6em;
    color: #333;
    margin-top: 30px;
}

.datenschutz-container h3 {
    font-size: 1.3em;
    color: #444;
    margin-top: 25px;
}

.datenschutz-container h4 {
    font-size: 1.1em;
    color: #555;
    margin-top: 20px;
    font-weight: bold;
}

.datenschutz-container p {
    margin-bottom: 15px;
}

.datenschutz-container ul {
    margin-left: 20px;
    margin-bottom: 15px;
}

.datenschutz-container li {
    margin-bottom: 8px;
}


.datenschutz-container a {
    color: #0056b3;
    text-decoration: none;
}

.datenschutz-container a:hover {
    text-decoration: underline;
}

.impressum-container{
    margin-top: 100px;
    margin-bottom: 100vh;
}