*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:"ArialRounded", sans-serif;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.container{
    position: relative;
    min-height: 100vh;
    width: 100%;
}

.content-wrap{
    padding-bottom: 9.5rem;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 1;
    top: 0;
    background-color: #A7CF5D;
    padding-left: 2rem;
    padding-right: 5%;
    box-shadow: 0px 1px 2px 2px rgba(150, 150, 150, 0.8);
}

.navbar-logo{
   max-width: 3rem;
   cursor: pointer;
}

.section-list{
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
}

.sections{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: black;
    padding: 24px;
    transition: background-color 0.3s;
    transition: color 0.1s;
    cursor: pointer;
    font-size: 18px;
}

.sections:hover{
    background-color: #8cad4f;
}

.sections:active{
    color: rgb(58, 58, 58);
}

.start{
    position: relative;
}

.hero-image{
    width: 100%;
    max-height: 500px;
    filter: brightness(0.7);
    border-bottom: 2px solid #483D3C;
}

.hero{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.hero-logo{
    padding-right: 0.5rem;
    max-width: 15vw;
    border-right: 4px solid #483D3C;
}

.hero-text{
    margin-left: 0.5rem;
    color: white;
    font-size: calc(16px + 1vw);
}

.leistungen{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    max-width: 1200px;
    margin: 0 auto;
}

.hook{
    text-align: center;
    color: green;
}

.intro{
    margin-top: 4rem;
    text-align: center;
    font-size: 20px;
}

.discription{
    text-align: center;
    margin-top: 1rem;
    font-size: 18px;
}

.call-to-action{
    margin-top: 0.5rem;
    font-size: 20px;
}

.pictures{
    margin-top: 7rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
}

.pics{
    max-width: 250px;
    border: 2px solid #483D3C;
}

.werte{
    margin-top: 7rem;
    text-align: center;
}

.werte-liste{
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.werte-items{
    margin-top: 0.5rem;
    font-size: 24px;
    color: green;
}

.ueber-mich{
    margin-top: 7rem;
    display: flex;
    justify-content: center;
    margin-left: 8%;
}

.about{
    max-width: 500px;
    border-left: 2px solid #483D3C;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.profession{
    color: rgb(88, 88, 88);
    font-weight: 600;
}

.bio{
    margin-top: 0.5rem;
    font-size: 20px;
}


.addresse p {
    margin-top: 5px;
    font-size: 18px;
}

.profile-picture{
    max-width: 300px;
    margin-right: 10px;
}

.kontakt{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 7rem;
}

.angebot{
    color: #483D3C;
    margin-bottom: 2rem;
}

.form{
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 5px;
    box-shadow: 0px 1px 2px 2px rgba(150, 150, 150, 0.8);
    width: 500px;
    height: auto;
    padding: 10px;
}

label {
    margin-top: 15px;
    margin-bottom: 5px;
}

input {
    padding: 12px;
    border: 1px solid #ccc;
    font-size: 18px;
    border-radius: 3px;
}

textarea {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: vertical;
    font-size: 18px;
    min-height: 300px;
    max-height: 500px;
}

#submit{
    margin-top: 30px;
    max-width: 120px;
    cursor: pointer;
    background-color: #483D3C;
    border: none;
    color: white;
}

#submit:active{
    transform: scale(0.98);
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
    background-color: #A7CF5D;
    color: #483D3C;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer a {
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    padding: 5px;
}


@media only screen and (max-width: 650px){
    .navbar{
        padding-right: 0;
        padding-left: 5px;
    }

    .sections{
        font-size: 16px;
        padding: 18px;
    }

    .hook{
        font-size: 22px;
    }

    .intro{
        margin-top: 2rem;
        font-size: 18px;
    }

    .discription{
        font-size: 16px;
    }

    .call-to-action{
        font-size: 18px;
    }

    .pictures{
        margin-top: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .werte{
        margin-top: 4rem;
        font-size: 18px;
    }

    .ueber-mich{
        margin-top: 4rem;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;
    }

    .about{
        margin-top: 2rem;
        text-align: center;
        border: none;
    }

    .addresse{
        margin-top: 2rem;
    }

    .kontakt{
        margin-top: 4rem;
    }

    .angebot{
        font-size: 28px;
    }

    .form{
        width: 300px;
    }

    label {
        font-size: 16px;
    }
    
    input {
        font-size: 14px;
    }
    
    textarea {
        font-size: 14px;
    }
    
}